/*********** 
    Fonts 
************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/********************
    Common Styles 
*********************/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}
.container {
    width: 1050px;
    margin-top: 30px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/*****************
    Header Area 
*****8************/
header {
    background-color: #2D25A0;
}
.header-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
}
.header-title {
    margin-left: 100px;
}
.live-button {
    background-color: #E02C6D;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    transition: all;
}
.live-button:hover {
    color: #2D25A0;
    background-color: #FFFFFF;
    font-size: 20px;
}
.header-title h1 {
    font-size: 64px;
    color: #FFFFFF;
}
.header-banner img {
    width: 556px;
    height: 438px;
    transition: 1s;
}
.header-banner img:hover {
    transform: scale(1.3);
}
/***************************
    Football Blogs Styles 
****************************/
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 40px;
}
.blog {
    width: 330px;
    padding: 15px;
    box-shadow: 5px 5px 80px 5px rgb(197, 195, 195);
    margin-right: 30px;
}
.blog img {
    width: 100%;
    height: 256px;
}
.blog .player-name{
    font-size: 28px;
}
.blog p {
    font-size: 16px;
    color: #6C6C6C;
}
/************************
    Footballer Styles
 ************************/
 .footballers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
 }
 .footballer {
    width: 330px;
    padding: 15px;
    box-shadow: 5px 5px 80px 5px rgb(197, 195, 195);
    margin-right: 30px;
 }
 .footballer img {
    width: 100%;
    height: 256px;
 }
 /******************
    Footer styles 
********************/
.watch-more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
}
.watch-now h2 {
    font-size: 48px;
    margin: 0;
}
.watch-now a {
    font-size: 16px;
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    margin-top: 50px;
}
.watch-now a:hover {
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    color: #E02C6D;
}
/******************
    Footer Styles 
*******************/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.logo img {
    width: 485px;
    padding: 20px;
}
.follows i {
    color: gray;
    background-color: #E7E7E8;
    margin-right: 10px;
    padding: 6px;
    border-radius: 50%;
}
/*********************
    Media Queries 
**********************/

/******** Mobile Devices *********/
@media only screen and (max-width: 688px) {
    header {
        width: 140%;
    }
    .container {
        width: 100%;
    }
    .header-area, 
    .blogs, 
    .footballers,
    .watch-more { 
        grid-template-columns: repeat(1, 1fr);
    }
    .header-banner {
        margin-top: 50px;
    }
}
/********* Tablet Devices *********/
@media only screen and (min-width: 688px) and (max-width: 998px) {
    .container {
        width: 100%;
    }
    .header-area, 
    .blogs, 
    .footballers {
        grid-template-columns: repeat(2, 1fr);
    }
    ..watch-more {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-banner {
        margin-top: 50px;
    }
}
